---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-url: '{{site.baseurl}}';

// Our variables
$base-font-family: 'Permanent Marker', cursive;
$base-font-size:   16px;
$big-font-size:    20px;

$text-color:       #111;
$white:            #e0e0e0;

// Media query widths
$col2: 600px;
$col3: 900px;
$col4: 1200px;
$col5: 1500px;
$col6: 1800px;

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}


// Fonts from Google Fonts
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout"
;
