---
layout: default
bodyclass: 'archive'
---
<div>
	<ul class="post-list">
		{% assign sortedcats = site.categories | sort %}
		{% for category in sortedcats %}
			{% assign name = category | first %}
			{% assign posts = category | last %}
			{% capture link %}{{site.baseurl}}/{{name|replace:' ','-'}}/{% endcapture %}
			{% assign capname = name | capitalize %}
			{% for post in posts limit:1 %}
				{% include polaroid.html image=post.featured_image title=capname link=link %}
			{% endfor %}
		{% endfor %}
	</ul>
</div>
