

body {
  background-image: url('#{$base-url}/assets/images/corkboard.jpg');
  padding: 10px;
  color: $text-color;
}
body.single {
  max-width: 800px;
  margin: 0 auto;
}


/* Paper cards */
@mixin paper {
  background-color: $white;
  margin: $base-font-size 4%;
  padding: $base-font-size 4%;
  position: relative;
  box-shadow: 
    0 0 50px rgba(140, 129, 108, 0.5) inset,
    2px 2px 2px rgba(0,0,0,.4);

  /* resize margins to match polaroid columns */
  @include media-query($col2) {
    margin: $base-font-size 2%;
    padding: $base-font-size 2%;
  }
  @include media-query($col3) {
    margin: $base-font-size 1.333%;
    padding: $base-font-size 1.333%;
  }
  @include media-query($col4) {
    margin: $base-font-size 1%;
    padding: $base-font-size 1%;
  }
  @include media-query($col5) {
    margin: $base-font-size .8%;
    padding: $base-font-size .8%;
  }
  @include media-query($col6) {
    margin: $base-font-size .667%;
    padding: $base-font-size .667%;
  }
  
  /* tack */
  :before {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-image: url('#{$base-url}/assets/images/tack.png');
    display: block;
    content: ' ';
    line-height: 0;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
  }
}

.site-header,
.archive .post-header {
  @include paper;
  display: inline-block;
  background-image: url('#{$base-url}/assets/images/paper.jpg');
}

.site-header {
  transform: rotate(-2deg);
  font-family: $base-font-family;

  h1 {
      font-size: 48px;
      margin: 0;
      line-height: 1;
      a {
          color: $text-color;
          text-decoration: none;
      }
  }

  p {
      margin: 0;
      font-size: $big-font-size;
  }
}
.archive .post-header {
  transform: rotate(1deg);
  h1 {
    line-height: 1;
    margin: $base-font-size 0 $base-font-size/2;
  }
}


.single article {
  @include paper;
  background-image: url('#{$base-url}/assets/images/paper.jpg');
}
.single .site-header,
.single article {
  margin: $base-font-size 0;
  padding: $base-font-size;
}

/* Polaroid style */
ul.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
ul.post-list:after {
  display: block;
  clear: both;
  content: ' ';
  line-height: 0;
}
.polaroid {
  @include paper;
  width: 92%;
  box-shadow:
    2px 2px 2px rgba(0,0,0,.4),
    1px 1px 1px rgba(255,255,255,1) inset,
    -1px -1px 1px rgba(0,0,0,.4) inset;
  /* add columns as they fit */
  @include media-query($col2) {
    float: left;
    width: 46%;
    &:nth-child(2n+1) { clear: left; }
  }
  @include media-query($col3) {
    width: 30.667%;
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: left; }
  }
  @include media-query($col4) {
    width: 23%;
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: left; }
  }
  @include media-query($col5) {
    width: 18.4%;
    &:nth-child(4n+1) { clear: none; }
    &:nth-child(5n+1) { clear: left; }
  }
  @include media-query($col6) {
    width: 15.333%;
    &:nth-child(5n+1) { clear: none; }
    &:nth-child(6n+1) { clear: left; }
  }
  
  /* random rotations, high prime so they don't wrap with rows */
  &:nth-child(13n+1) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+2) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+3) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+4) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+5) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+6) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+7) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+8) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+9) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+10) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+11) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n+12) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  &:nth-child(13n) {
    transform: rotate(random(10) - 5 + deg);
    :before { transform: translate(random(10) - 5 + px, random(10) - 5 + px); }
  }
  
  .image-wrapper {
    box-shadow:
      1px 1px 1px rgba(0,0,0,.4) inset,
      1px 1px 0px rgba(255,255,255,.7);
    img {
      display: block;
      position: relative;
      z-index: -1; /* so it stacks below the wrapper with the box shadow */
      width: 100%;
      height: auto;
    }
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
  .photo-label {
    font-size: $base-font-size;
    line-height: 1.2;
    min-height: $base-font-size * 1.2 * 2;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    font-family: $base-font-family;
    @include media-query($col2) {
      font-size: $big-font-size;
      height: $big-font-size * 1.2 * 2;
    }
  }
}