---
layout: default
bodyclass: 'single'
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% for cat in page.categories %}
  <div class="post-nav">
  	{% if page.previous_in_category[cat].url %} 
      <span class="previous-link">
        <a rel="prev" href="{{ page.previous_in_category[cat].url }}">Previous in {{cat}}</a>
      </span>
    {% endif %}
    {% if page.next_in_category[cat].url %} 
      <span class="next-link">
        <a rel="next" href="{{ page.next_in_category[cat].url }}">Next in {{cat}}</a>
      </span>
    {% endif %}
  </div>
  {% endfor %}

</article>
